
         <section  class="row tabcontent" id="tab5" >

                           <div class="  col s12 m8 l8  offset-l2 offset-m2">
                              <div class="card-panel">
                                   <div class="divider"></div>
                                 <h5 class="header cyan-text center">  Result Urls</h5>
                                 <div class="divider"></div>
                                 
                                 <p class="gradient-45deg-light-blue-cyan white-text center">NOTE* : Make sure that url is working fine before adding</p>
                                  <form  action="/add_url" method="post">
         <div class="row">
            <div class="col s12 l12">
               <select name="semester" class="browser-default">
                  <option value="" disabled selected>Choose semster</option>
                  <option   value="1-1">1-1</option>
                  <option value="1-2">1-2</option>
                  <option value="2-1">2-1</option>
                  <option value="2-2">2-2</option>
                  <option value="3-1">3-1</option>
                  <option value="3-2">3-2</option>
                  <option value="4-1">4-1</option>
                  <option value="4-2">4-2</option>
                  <option value="First year">First year</option>
                  <option value="Second year">Second year</option>
                  <option value="Third year">Third year</option>
               </select>
            </div>
            <label>Select Semester</label>
         </div>
         <div class="row">
            <div class="col s12 l12">
               <select name="Category" class="browser-default">
                  <option value="" disabled selected>Choose Category</option>
                  <option   value="Regular">Regular</option>
                  <option value="supply">Supply</option>
               </select>
            </div>
            <label>Select Category</label>
         </div>
         <div class="row">
            <div class="col s12 l12">
               <select name="Stream" class="browser-default">
                  <option value="" disabled selected>Choose Stream</option>
                  <option   value="B.Tech">B.Tech</option>
                  <option value="PolyTechnic">PolyTechnic</option>
                  <option value="Pharamacy">Pharamacy</option>
                  <option value="Degree">Degree</option>
                  <option value="Inter(CBSE)">Inter(CBSE)</option>
               </select>
            </div>
            <label>Select Stream</label>
         </div>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">call_missed_outgoing</i>
          <input type="text"  name="url" >
          <label >Url</label>
        </div>
      </div>
    </div>
  </div>
        
         <div class="row">
            <div class="input-field col s12 l12">
               <button  class="btn waves-effect waves-light col s12">Add Url</button>
            </div>
         </div>
      </form>

                                 </div>
                                 </div>
                                 <div class="divider"> </div>
                                 <div class="  col s12 m8 l8  offset-l2 offset-m2">
                              <div class=" card card-panel">
                                 <table class="striped card " >
                                    <thead>
                                       <tr>
                                          <th>semester</th>
                                          <th>Category</th>
                                          <th>Stream</th>
                                             <th>url</th>
                                          <th>Delete</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        <% urls.forEach(function(urls) { %>   
                                       <tr>
                                          <td><%= urls.semester %></td>
                                      <td><%= urls.Category %></td>
                                      <td><%= urls.Stream %></td>
                                      <td><a href="<%= urls.url %>" class="btn">View</a></td>
                                          <td>  <button class="btn small deleter red" value=<%= urls._id %> type="submit" name="action">
                                             <i class="material-icons ">delete</i>
                                             </button>
                                          </td>
                                       </tr>
                                        <% }); %>  
                                    </tbody>
                                 </table>
                                 </div>
                                 </div>
                                
</section>
 