<section class="row tabcontent" id="tab1" >
           
           <div class="container">
           

              <div id="work-collections">
              <div class="row">
                <div class="col s12 m12 l12">
                  <ul id="projects-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons cyan circle">notifications_none</i>
                      <h6 class="collection-header m-0">Exam Updates</h6>
                      <p>See the status</p>
                    </li>
                     <% for(var i=urls.length-1; i >= 0; i--) { %>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s6">
                          <p class="collections-title"> <%= urls[i].Stream %> <%= urls[i].semester %> Sem  <%= urls[i].Category %>    Result is out now </p>
                          
                        </div>
                        <div class="col s6">
                          <span class="task-cat "><a href="<%= urls[i].url %>" class="btn #2196f3 blue animated infinite rubberBand">Click here</a> </span>
                        </div>
              
                      </div>
                    </li>
                    <% } %> 
                     <% for(var i=status.length-1; i >= 0; i--) { %>
                  
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s6">
                          <p class="collections-title"> <%= status[i].Category %> <%= status[i].semester %> Semester Result</p>
                          <p class="collections-content"><%= status[i].Stream %></p>
                        </div>
                        <div class="col s6">
                          <span class="task-cat cyan"><%= status[i].Status %> </span>
                        </div>
              
                      </div>
                    </li>
                       <% } %>   

                  </ul>
                </div>

              </div>
            </div>


            </div>
            </section>