<!DOCTYPE html>
<html lang="en">

      <% include head %>
  <body class="layout-light">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">
            <ul>
              <li >
                <h1 class="logo-wrapper ">
             <a  class=" center brand-logo darken-1">
                    <img src="https://www.vanhool.be/assets/images/logo-autocars-ex.png"  alt="materialize logo">
                  <span class="hide-on-med-and-down blue-text"> <span class="grey-text">Exam</span> Portal</span>
                  </a>
                </h1>
              </li>
            </ul>

          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <main>


            <!-- Scaled in -->

          <div id="striped-table ">
             <div class="gradient-45deg-indigo-light-blue padding-1  white-text center" ><h5><%= Semester %>  Result </h5></div>
                 <h1 id="no-record" class="white-text"></h1>           
                <div class="col s12 ">

                  <p id="message" class=" white-text center"</p>
                    <p id="message1" class=" white-text center"</p>
                   
                </div>
                <div >
                  <div class="  col s12 m8 l8  offset-l2 offset-m2">
                              <div class=" card card-panel">
                  <table id="myTable" class="striped card " >
                    <thead>
                      <tr>
                        <th data-field="id">Htno</th>
                        <th data-field="name">Subcode</th>
                        <th data-field="price">Subname</th>
                        <th data-field="total">Grade</th>
                        <th data-field="status">Credits 
                      </tr>
                    </thead>
                    <tbody>
                         <% results.forEach(function(results) { %>  
                      <tr>
                        <td><%= results.Htno %></td>
                        <td><%= results.Subcode %></td>
                        <td><%= results.Subname %></td>
                        <td><%= results.Grade %></td>
                        <td><%= results.Credits %></td>
                        <td  class="hide creditsum"><%= results.creditsum %></td>
                      </tr>    
                       <% }); %>  
                    </tbody>
                  </table>
                </div>
              </div>
                </div>
              </div>

      <!-- END WRAPPER -->
</main>


    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
  
    <!-- END FOOTER -->
      <% include script %>
  </body>
</html>